.container {
    width: 1200px;
    margin: 0auto;
    padding: 0 15px;
    color: brown;
}

.color-red {
    color: red;
}

.test-class {
    color: aliceblue;
    font-size: 12px;
    border: 1px solid red;
    line-height: 17px;
}